/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "variables";

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  height: 100vh;
  font-family: $font;
  font-size: 16px;
}

.flex-fixed{
  flex: 1 1 20%;
}

.flex-expand{
  flex: 1 1 80%;
}

.h100v{
  height: 100vh;
}